*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: lightblue;
    width: 800px;
    height: 600px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    
}
.flex-Box{
    background-color: crimson;
    height: 120px;
    width: 120px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: line-through;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
}
.flex-Box:hover{
    background-color: rgb(219, 219, 66);
    color: black;
}
.container > h2 {
    font-size: 50px;
}