.container{
    display: grid;
    margin: 20px;
    grid-gap: 10px;
    grid-template-columns: 100px 200px 300px;
    width: 800px;
    height: 400px;
    grid-template-columns:100px 100px 100px ;
    background-color: pink;
    grid-template-rows: 50px 150px 50px;
}
.item{
    background-color: rgb(143, 227, 200);
    color: black;
    padding: 10px;
    font-size: 28px;
}
.item:nth-child(1){
    grid-column: 1/4;
    background-color: palevioletred;
}
.item:nth-child(2){
    grid-column: 1/2;
    background-color: rosybrown;
}
.item:nth-child(3){
    grid-column: 2/4;
    background-color: royalblue;
}
/* .container{
    border: 2px solid black;
    grid-template-columns: repeat(3,1fr);
} */
.item:nth-child(4){
    grid-column: 1/4;
    background-color: brown;
}